[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is a toy project that includes code across various domains, including server-side development, web development, mobile development, data processing, and machine learning.
[access "refs/*"]
	owner = group user/Neithrik (Neithrik)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Neithrik (Neithrik)
	label-Verified = -1..+1 group user/Neithrik (Neithrik)
	push = group user/Neithrik (Neithrik)
	read = group user/Neithrik (Neithrik)
	rebase = group user/Neithrik (Neithrik)
	removeReviewer = group user/Neithrik (Neithrik)
	submit = group user/Neithrik (Neithrik)
[access "refs/heads/*"]
	create = group user/Neithrik (Neithrik)
	push = +force group user/Neithrik (Neithrik)
	pushMerge = group user/Neithrik (Neithrik)
	read = group user/Neithrik (Neithrik)
[access "refs/tags/*"]
	push = group user/Neithrik (Neithrik)
	push = +force group user/Neithrik (Neithrik)
